<div style="font-family: 'Poppins'; font-weight: 275; line-height: 25px; letter-spacing: 4px; margin: auto">
  <div class="adM"></div>
  <div>
    <div style="background-color: #ffc8a057; max-width: 595px; margin: 0 auto; border: 1px solid #ffc8a0">
      <div style="background-color: #0000002b; margin: 15px; border: 5px solid #ffc8a0">
        <div style="width: auto; height: auto; padding: 2px 2px 5px 2px">
          <div style="width: 18%; float: left; margin-right: 15%; padding: 2% 0% 0% 2%">
            <img src="http://156.67.218.40:4000/assets/icons/social-icons/logo.png" style="width: 100%; float: left" class="CToWUd" data-bit="iit" />
          </div>
          <div style="width: auto">
            <img src="http://156.67.218.40:4000/assets/icons/social-icons/logo-text.png" style="width: 58%; margin-left: 5%" class="CToWUd" data-bit="iit" />
          </div>
        </div>
      </div>
      <div style="padding: 15px">
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848">Dear <strong>{{username}}</strong>,</div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px">Namaskar!<br /></div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px">
          Thank you for your interest in eKalakaar (eK) and for reaching out to us!<br />
        </div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px">
          We have received your message. We will get in touch with you soon to address your inquiry or request. Whether you are a patron, an investor, an artist, an art-lover and or someone looking to
          explore the world of eKalakaar, we are here to assist you in the best possible way.
          <br />
        </div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px">
          We look forward to the opportunity to engage with you and share our passion for the arts.<br />
        </div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 40px">Best regards,</div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px"><strong>eKalakaar</strong></div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px">Contact No.: +91 7701872112, +91 2231887063</div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px">Email ID: eK@ekalakaar.com; ekalakaarindia@gmail.com</div>
        <div style="font-weight: 400; font-size: 14px; line-height: 25px; letter-spacing: 4px; color: #484848; margin-top: 8px">Website: www.ekalakaar.com</div>
      </div>
      <div style="background-color: #0000002b; border: 5px solid #ffc8a0; padding: 10px; margin: 15px">
        <div style="color: #666666; font-weight: normal; font-size: 15px; line-height: 18px; text-align: center">New Delhi | Mumbai | Bhubaneshwar</div>
        <div style="max-width: 260px; margin: 10px auto; margin-bottom: 0">
          <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td style="padding-right: 8px; text-align: center">
                  <a
                    href="https://www.facebook.com/eKalakaarIndia"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/eKalakaarIndia&amp;source=gmail&amp;ust=1690196159591000&amp;usg=AOvVaw2b8ynupBs-1OjLnVv4omSX"
                  >
                    <img style="width: 30px; display: block" src="http://156.67.218.40:4000/assets/icons/social-icons/facebook.png" class="CToWUd" data-bit="iit" />
                  </a>
                </td>
                <td style="padding: 0 8px; text-align: center">
                  <a
                    href="https://twitter.com/eKalakaarIndia"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/eKalakaarIndia&amp;source=gmail&amp;ust=1690196159591000&amp;usg=AOvVaw2CJnzDt0oBRvRvkOyT5DAB"
                  >
                    <img style="width: 33px; display: block" src="http://156.67.218.40:4000/assets/icons/social-icons/twitter.png" class="CToWUd" data-bit="iit" />
                  </a>
                </td>
                <td style="padding: 0 8px; text-align: center">
                  <a
                    href="https://www.youtube.com/@eKalakaarIndia"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/@eKalakaarIndia&amp;source=gmail&amp;ust=1690196159591000&amp;usg=AOvVaw09WY1XjE_YCIM9T61HnjlN"
                  >
                    <img style="width: 30px; display: block" src="http://156.67.218.40:4000/assets/icons/social-icons/youtube.png" class="CToWUd" data-bit="iit" />
                  </a>
                </td>
                <td style="padding: 0px 8px; text-align: center">
                  <a
                    href="https://www.instagram.com/ekalakaarindia/"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/ekalakaarindia&amp;source=gmail&amp;ust=1690196159591000&amp;usg=AOvVaw1mwgqWc-dCrBc7lovUapjG"
                  >
                    <img style="width: 33px; display: block" src="http://156.67.218.40:4000/assets/icons/social-icons/insta.png" class="CToWUd" data-bit="iit" />
                  </a>
                </td>
                <td style="padding: 0 8px; text-align: center">
                  <a
                    href="https://www.linkedin.com/in/ekalakaar-india-a0b697272/"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/in/ekalakaar-india-a0b697272&amp;source=gmail&amp;ust=1690196159591000&amp;usg=AOvVaw09WY1XjE_YCIM9T61HnjlN"
                  >
                    <img style="width: 30px; display: block" src="http://156.67.218.40:4000/assets/icons/social-icons/linkedin.png" class="CToWUd" data-bit="iit" />
                  </a>
                </td>
                <td style="padding-left: 8px; text-align: center">
                  <a
                    href="https://wa.me/917701872112?text="
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://wa.me/917701872112?text=&amp;source=gmail&amp;ust=1690196159591000&amp;usg=AOvVaw09WY1XjE_YCIM9T61HnjlN"
                  >
                    <img style="width: 30px; display: block" src="http://156.67.218.40:4000/assets/icons/social-icons/whatsapp.png"" class="CToWUd" data-bit="iit" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>